{erl_opts, [debug_info]}.
{plugins, [rebar3_hex]}.
{cover_enabled, true}.
{shell, [{apps, [ssl, inets, ibrowse]}]}.
{deps, [
  {ibrowse, "4.2.2"},
  {jsx, "2.8.0"}
]}.
{xref_warnings,false}.
{xref_extra_paths,[]}.
{xref_checks, [
  undefined_function_calls,
  undefined_functions,
  locals_not_used,
  %exports_not_used,
  deprecated_function_calls,
  deprecated_functions
]}.
